<footer class="footer-section">
  <div class="container-fluid">
    <div class="social-container text-center">
      <p class="h4 inline-block">Like us on Facebook: </p>
      <a href="https://www.facebook.com/joinhah">
        <figure class="social facebook">
          <img src="assets/images/landing/facebook.svg" alt="Facebook Logo" width="40">
        </figure>
      </a>
    </div>
    <ul class="list-inline">
      <li><a ui-sref="landing">หน้าแรก</a></li>
      <li><a ui-sref="login">เข้าสู่ระบบ</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">ร่วมงานกับเรา</a></li>
    </ul>
    <div>
      <p class="text-light-gray">&copy; 2016 <a href="http://iamdr.co">Iamdr Company, Inc.</a> | 52/154 soi 25 Muang Thong Thani, Chaeng Wattana Road, Pak kret, Nonthaburi 11120</p>
    </div>
  </div>
</footer>