<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-toggle admin-navbar-toggle" data-toggle="menubar" ng-show="navbar.isAdminPage">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-toggle collapsed pull-right" ng-click="navbar.isCollapsed = !navbar.isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      <a class="navbar-brand" ui-sref="landing"><img src="assets/images/logo.svg" alt="Health at Home Logo"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" uib-collapse="navbar.isCollapsed" ng-if="navbar.isAdminPage">
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="" ng-click="navbar.logout()">Log out</a></li>
      </ul>
    </div>
    <div id="navbar" class="collapse navbar-collapse" uib-collapse="navbar.isCollapsed" ng-if="!navbar.isAdminPage">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="landing">หน้าแรก</a></li>
        <li><a ui-sref="login">เข้าสู่ระบบสำหรับสมาชิก</a></li>
        <li><a ui-sref="booking" class="btn btn-primary"><strong>จองผู้ดูแล</strong></a></li>
      </ul>
    </div>
  </div>
</nav>