<div class="row">
  <div class="col-sm-12">
    <div class="page-title">
      <div class="row">
        <div class="col-sm-6">
          <h1>Caregivers</h1>
        </div>
        <div class="col-sm-6">
          <div class="page-title-detail">
            <div class="page-title-detail-action">
              <a ui-sref="admin.caregivers.add" class="btn btn-primary btn-lg"><i class="material-icons">person_add</i> Add Caregiver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card card-no-margin-bottom">
      <div class="card-body">
        Search by name:
        <div class="form-inline inline-block">
          <div class="input-group">
            <input type="text" ng-model="caregivers.nameSearch" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-info" ng-click="caregivers.searchByName(caregivers.nameSearch)" type="button">Search</button>
              <button class="btn btn-default" ng-click="caregivers.resetSearch()" type="button">Reset</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 5%;">ID</th>
                <th style="width: 15%;">Date Added</th>
                <th style="width: 20%;">Name</th>
                <th style="width: 10%;">Nickname</th>
                <th style="width: 10%;">Gender</th>
                <th style="width: 10%;">Age</th>
                <th style="width: 15%;">Phone</th>
                <th style="width: 15%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="caregiver in caregivers.list | orderBy: 'id'">
                <td>{{ caregiver.id }}</td>
                <td>{{ caregiver.created | date: 'd MMM yyyy HH:mm'}}</td>
                <td>{{ caregiver.firstName }} {{ caregiver.lastName }}</td>
                <td>{{ caregiver.nickName }}</td>
                <td>{{ caregiver.gender }}</td>
                <td>{{ caregiver.age }}</td>
                <td>{{ caregiver.phone }}</td>
                <td class="action"><a ui-sref="admin.caregivers.edit({id: caregiver.id})" class="btn btn-primary btn-sm"><i class="material-icons">edit</i> Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <nav>
      <ul class="pagination">
        <li>
          <a href="" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li>
          <a href="" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>