<hah-navbar navbar-type="front"></hah-navbar>

<section class="intro-header landing-page">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="intro-message">
          <figure class="img-circle inline-block" style="background: white;width: 200px;height: 200px;padding-top: 34px;">
            <img src="assets/images/landing/landing-logo.svg" alt="Health at Home Logo" width="120" height="120">
          </figure>
          <h1>Health at Home</h1>
          <h3>บริการหาผู้ดูแลผู้สูงอายุ ดูแลที่บ้านคุณ</h3>
          <p><a class="btn btn-primary btn-xl" ui-sref="booking" role="button">จองผู้ดูแล</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section bg-white">
  <div class="container">
    <div class="margin-b-4"></div>
    <div class="row">
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-circle" src="assets/images/landing/feature01.svg" width="150" height="150">
        </figure>
        <h2 class="h3 text-center margin-b-1">เราคัดคนคุณภาพ</h2>
        <p>ผู้ดูแลทุกคนในระบบของเราจะได้รับการตรวจสอบประวัติการทำงาน ประวัติอาชญากรรม ไปจนถึงการสอนวิธีการดูแลที่ถูกต้องโดยทีมแพทย์และพยาบาลผู้เชี่ยวชาญด้านผู้สูงอายุ</p>
      </div>
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-circle" src="assets/images/landing/feature02.svg" width="150" height="150">
        </figure>
        <h2 class="h3 text-center margin-b-1">กระบวนการทำงานชัดเจน</h2>
        <p>ผู้ดูแลทุกคนในระบบของเราจะได้รับแผนการดูแล ซึ่งวางแผนสำหรับผู้สูงอายุแต่ละท่านโดยทีมแพทย์ มีกระบวนการทำงานชัดเจนว่าในแต่ละวันผู้ดูแลควรทำกิจกรรมการดูแลใดบ้าง</p>
      </div>
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-circle" src="assets/images/landing/feature03.svg" width="150" height="150">
        </figure>
        <h2 class="h3 text-center margin-b-1">รายงานผลทุกวัน</h2>
        <p>ในทุกวัน เราจะมีรายงานผลการดูแลประจำวัน เพื่อให้ญาติได้ทราบความคืบหน้าการดูแล และจะมีการสรุปผลเป็นประจำทุกสัปดาห์และทุกเดือน เพื่อนำไปประกอบการวินิจฉัยโดยแพทย์ประจำตัวของผู้สูงอายุ</p>
      </div>
    </div>
</section>

<section class="landing-section section-gradient">
  <div class="container padding-b-2">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="margin-b-1 text-center">ทราบทุกความก้าวหน้าการดูแล</h2>
        <div class="margin-b-2 landing-report-image"></div>
        <div class="col-md-8 col-md-offset-2">
          <p>ตัวอย่างรายงานประจำสัปดาห์ที่เราจัดส่งให้ผู้สูงอายุที่เราดูแลอยู่ เพราะวันที่คนไข้ไปตรวจกับแพทย์ ข้อมูลที่แพทย์ได้รับเป็นข้อมูล ณ จุดหนึ่งของเวลา เช่น อาจวัดความดันโลหิตได้ปกติ <strong>แต่จริงๆ แล้วอีก 30 กว่าวันที่คนไข้อยู่บ้าน คนไข้อาจควบคุมความดันไม่ได้เลย</strong></p>
          <p>และเรากำลังพัฒนา Application เพื่อให้ญาติสามารถดูข้อมูลการดูแลได้แบบ Real-time</p>
          <h3 class="text-center">เร็วๆ นี้บน Appstore</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section bg-white">
  <div class="container">
    <div class="row margin-b-3">
      <div class="col-sm-12 text-center">
        <h2>ทีมสหวิชาชีพเพื่อการดูแลที่ครบวงจร</h2>
        <p>นอกจากผู้ดูแลผู้สูงอายุแล้ว เรายังมีบริการส่งวิชาชีพอื่นๆ ไปดูแลที่บ้าน</p>
      </div>
    </div>
    <div class="row margin-b-3">
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-max-width100" src="assets/images/landing/service01.jpg" alt="Physiotherapy" width="256">
        </figure>
        <h2 class="h3 text-center margin-b-1">กายภาพบำบัด</h2>
        <p>สำหรับคนไข้ที่ต้องทำกายภาพบำบัด ไม่ว่าจะเป็นผู้สูงอายุ หรือในคนไข้หลังผ่าตัด บางครั้งการเดินทางไปโรงพยาบาลก็ไม่สะดวก ให้เราช่วยดูแลด้วยนักกายภาพบำบัดมืออาชีพ</p>
      </div>
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-max-width100" src="assets/images/landing/service02.jpg" alt="Speech therapist" width="256">
        </figure>
        <h2 class="h3 text-center margin-b-1">Speech therapist</h2>
        <p>สำหรับผู้สูงอายุบางท่าน หรือเด็กที่มีปัญหาด้านการใช้ภาษา เรามีนัก Speech therapist (นักบำบัดการพูด) ช่วยส่งเสริมและฟื้นฟูให้คนไข้สามารถฟังพูดอ่านเขียนได้ในเร็ววัน</p>
      </div>
      <div class="col-sm-4">
        <figure class="text-center margin-b-1">
          <img class="img-max-width100" src="assets/images/landing/service03.jpg" alt="Registered nurse" width="256">
        </figure>
        <h2 class="h3 text-center margin-b-1">พบาบาลผู้สูงอายุ</h2>
        <p>ในเคสที่ที่บ้านมีผู้ดูแลอยู่แล้ว แต่ต้องการเรียนรู้วิธีการดูแลที่ถูกต้องจากผู้เชี่ยวชาญ เราสามารถไปสอนได้ หรือในเคสที่ผู้ป่วยอาการหนัก จำเป็นต้องได้รับการดูแลโดยพยาบาลวิชาชีพ</p>
      </div>
    </div>
  </div>
</section>
<section class="landing-section section-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="margin-b-2">เสียงจากผู้รับบริการ</h2>

        <div class="testimonial-carousel">
          <uib-carousel>
            <uib-slide ng-repeat="item in landing.testimonials" active="slide.active">
              <p class="h4 margin-b-2">"{{ item.text }}"</p>
              <img class="center-block img-circle margin-b-1 border-white" ng-src="{{ item.imageUrl }}" width="200">
              <p><strong>{{ item.name }}</strong><br />
                {{ item.position }}<br />
                <a ng-href="{{ item.url }}" ng-if="item.url">{{ item.company }}</a>
                <span ng-if="!item.url">{{ item.company }}</span>
              </p>
            </uib-slide>
          </uib-carousel>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="landing-section section-gradient">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="margin-b-2">สนใจรับบริการติดต่อ</h2>
        <figure class="img-circle inline-block" style="background: white;width: 150px;height: 150px;padding-top: 30px;">
          <img src="assets/images/landing/landing-logo.svg" alt="Health at Home Logo" width="80" height="80">
        </figure>
        <h3>
            <strong>Health at Home</strong><br/>
            โทร. 086-397-1767 , line ID: joinhah, e-mail: contact@joinhah.com
        </h3>
        <h3 class="margin-b-2">หรือจองผู้ดูแลด้วยตนเอง</h3>
        <p><a class="btn btn-primary btn-xl" ui-sref="booking" role="button">จองผู้ดูแล</a></p>
      </div>
    </div>
  </div>
</section>
<section class="landing-section">
  <div class="container">
    <div class="col-sm-12 text-center">
      <h3>บริหารงานโดย</h3>
      <figure class="margin-b-1">
        <img class="img-circle border-white" src="assets/images/landing/kanapon.jpg" alt="รูปนพ.คณพล ภูมิรัตนประพิณ (หมอตั้ม)" width="150" height="150">
      </figure>
      <p>
        <strong>นพ.คณพล ภูมิรัตนประพิณ (หมอตั้ม)</strong><br />
        อายุรแพทย์ด้านผู้สูงอายุ, Mount Sinai Hospital, NYC, USA
      </p>
    </div>
  </div>
</section>
<section class="landing-section bg-white" id="#joinus">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h2>สนใจร่วมงานกับเรา</h2>
        <p>ไม่ว่าคุณจะเป็น <strong>ผู้ดูแลผู้ป่วย, พนักงานช่วยเหลือผู้ป่วย (Nurse-aide), ผู้ช่วยพยาบาล, พยาบาล, นักกายภาพบำบัด, นักกิจกรรมบำบัด ฯลฯ</strong></p>
        <p class="margin-b-2">หากคุณสนใจการดูแลผู้ป่วยที่บ้าน ต้องการร่วมงานกับเรา ฝากประวัติไว้ได้เลยที่นี่</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">ฝากประวัติ</a></p>
      </div>
      <div class="col-sm-6">
        <figure class="text-center padding-t-1">
          <img src="assets/images/landing/joinus.svg" alt="Join Health at Home" width="480" style="max-width: 100%;" >
        </figure>
      </div>
    </div>
  </div>
</section>

<hah-footer></hah-footer>

